.one {
    /* width: 100%; */
    height: 50px;
    background-color: darkgray;
}

.two {
    background-color: black;
    height: 50px;
}

.three {
    background-color: cornflowerblue;
    height: 50px;
    border: solid 1px white;
}

.four {
    height: 54px;
    background-color: black;
}

.three p {
    color: white;
    font-size: x-large;
    text-align: center;
}

.four p {
    color: white;
    font-size: x-large;
    text-align: center;
}

.two p {
    color: white;
    font-size: x-large;
    text-align: center;
}

.container {
    width: 600px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    background-color: transparent;
    border: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.col-md-3{
    padding-right: 0px;
    padding-left: 0px;
}

.one input[type="text"] {
    width: 100%;
    height: 97%;
    background: transparent;
    border: transparent;
    color: white;
    font-size: 22px;
}

.btn {
    font-size: 22px;
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: transparent!important;
    border-color: transparent!important;
}

.two input[type="button"] {
    width: 100%;
    height: 100%;
    background: transparent;
    border: transparent;
    color: white;
    font-size: 22px;
}

.container {
    width: 35%;
    border: solid 10px darkturquoise;
    border-radius: 10px;
}

.diff-bg {
    background: blueviolet;
}